<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Group</title>
</head>
<body>
    <h1>新規グループ作成</h1>
    <form action="/create_group" method="post">
        <input type="text" name="name" placeholder="グループ名">
        <input type="submit" value="作成">
    </form>
</body>