<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LiT Messenger</title>
</head>
<body>
	<h1>LiT Messanger</h1>
	<% if !@user.nil? %>
		<p><%= @user.name %></p>
	<% end %>
	<h2>ログイン</h2>
	<form action="/signin" method="post">
		名前<input type=text name="name">
		パスワード<input type="password" name="password">
		<input type="submit" value="ログイン">
	</form>
</body>
</html>
