<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>List</title>
</head>
<body>
    <div>
        <% @groups.each do |group| %>
            <h1>グループ名：</h1> 
            <p><%= group.name %></p>
            <h1>参加メンバー</h1>
            <% @members.each do |member| %>
                <% if member.group_id == group.id %>
                    <% join_user = User.find_by(id: member.user_id) %>
                    <p><%= join_user.name %></p>
                <% end %>
            <% end %>
            <form action="/chat" method="get">
                <input type="hidden" name="group_id" value="<%= group.id %>">
                <input type="submit" value="トークルームへ">
            </form>
        <% end %>
    </div>
</body>