body{
    text-align:center;
    margin:200px;
    font-size:30px;
}

h1{
    font-weight:bold;
}

input{
    font-size:40px;
}

.member{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:10px;
    font-size:30px;
}

img{
    border-radius: 50%;
    margin: 5px;
    flex-basis: auto; 
    width: 100px;
    height: 100px;
}

input[type="submit"]{
    font-size: 30px;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 10px;
}
