body {
    text-align: center;
    margin: 200px;
    color: #222222;
}

h1{
    color: #fcc868;
}

h2 {
    font-size: 70px;
}

form {
    display: inline-block;
}

.text {
    text-align: left;
    font-size: 40px;
}

.mentor input{
    text-align:center;
}

input[type="text"]{
    font-size: 40px;
}

input[type="password"]{
    font-size: 40px;
}

input[type="submit"]{
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px;
}

a{
    display: block;
}

p{
    font-size: 30px;
    font-weight:bold;
    text-align:left;
}

.inline{
    margin: 50px;
    font-size: 30px;
}